<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>all ships</title>
</head>
<body>
<table>
{% for ship in all_ships %}
    <tr>
        <td>{{ ship[0] }}</td>
    </tr>
{% end %}
</table>
</body>
</html>